<!doctype html>
<html>
  <head>
    <title>XDA Topic Gallery</title>

	<link rel="stylesheet" href="../styles/reset.css">
	<link rel="stylesheet" href="../styles/styles.css">
	<link rel="stylesheet" href="../styles/gallery_detail.css">

    <script src="../javascript/jquery.js"></script>
    <script src="../javascript/jquery.wookmark.js"></script>
    <script src="../javascript/jquery.imagesloaded.min.js"></script>

    <script src="../javascript/xda/xda_utils.js"></script>
    <script src="../javascript/xda/xda_gallery_detail.js"></script>
  </head>
  <body>
  	<div id="container">
  		<div id="debugInfo">
  			<div id="debugDetails"><span></span></div>
  		</div>

   		<header>
      		<h1>XDA Gallery</h1>
      		<p>Topic: <span id="topicName"></span></p>
    	</header>

   		<div id="tools">
   			<div id="refresh"></div>
   		</div>

    	<div id="main" role="main">
    		<ul id="xdaGalleryContent"></ul>

    		<div id="info"></div>
        	<div id="loaderIndicator"></div>
    	</div>

      <div id="threadEndingIndicator">
        <span>Reached end of thread</span>
      </div>
    	<footer>

    	</footer>

  	</div>

  </body>
</html>
