<!doctype html>
<html>
  <head>
    <title>XDA Topic Gallery</title>


	<link rel="stylesheet" href="../styles/reset.css">
	<link rel="stylesheet" href="../styles/styles.css">
	<link rel="stylesheet" href="../styles/gallery_detail.css">
  <link rel="stylesheet" href="../styles/colorbox-theme-dark.css">

    <script src="../javascript/jquery.js"></script>
    <script src="../javascript/jquery.masonry.min.js"></script>
    <script src="../javascript/jquery.imagesloaded.min.js"></script>
    <script src="../javascript/jquery.colorbox-min.js"></script>

    <script src="../javascript/xda/xda_utils.js"></script>
    <script src="../javascript/xda/xda_gallery_detail.js"></script>
  </head>
  <body>
  	<div id="container">
      <div id="loadingBar">
          <span id="currentPageFetchInfo">Fetching Images on page </span>
          <div id="overrideNumImageFetchWarning">
            <p class="warning">Fetching all images in thread, this may take while...</p>
          </div>
      </div>

  		<div id="debugInfo">
  			<div id="debugDetails"><span></span></div>
  		</div>

   		<header>
      		<h1>XDA Gallery</h1>
      		<p>Topic: <span id="topicName"></span></p>
    	</header>

    	<div id="main" role="main">
    		<ul id="xdaGalleryContent"></ul>
    	</div>

      <div id="threadEndingIndicator">
        <span>Reached end of thread</span>
      </div>
    	<footer>

    	</footer>

  	</div>
  </body>
</html>
