html {
	background-image: url('/images/gallery-background.png');
}

a, a:ACTIVE{
	color: 			#AAA;
}

a:VISITED{
	color:			#888;
}

a:HOVER{
	text-decoration: underline;
}

header h1{
	color: 				#AAA;
}



/**
 * Grid container
 */
#xdaGalleryContent {
	list-style-type: 	none;
	position: 			relative; /** Needed to ensure items are laid out relative to this container **/
	margin: 			0;
}

/**
 * Grid items
 */
#xdaGalleryContent li {

	background-color: 		#444444;
	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
	border-radius: 			3px;
	display: 				none; /** Hide items initially to avoid a flicker effect **/
	cursor: 				pointer;
	padding: 				5px;
}

#xdaGalleryContent li img {
	display: 		block;
}

.postInfo {
	text-align:		center;
}

/**
 * Grid item text
 */
#xdaGalleryContent li p {
	color: 	 		#666;
	font-size: 		12px;
	margin: 		7px 0 0 7px;
}

/** Thread end indicator **/
#threadEndingIndicator{
	display: 		none;

	width:			100%;
	height:			20px;
	text-align: 	center;

	padding:		5px;
	margin:			10px;
	border:			1px dashed black;
}

/** Info & Loader **/
#info{
	position: 	absolute;
	width: 		300px;
	height: 	50px;
}

#loaderIndicator {
	position: 			relative;
	background-color: 	transparent;
	display: 			none;
	width: 				100px;
	height: 			100px;
	margin: 			0 auto;
	background-image: 	url('/images/loader.gif');
}

#tools{
	display: 		none;
	height: 		40px;
	margin: 		10px auto 10px auto;
}

#refresh{
	width: 			35px;
	height: 		35px;
	background: 	url('/images/refresh.jpg') no-repeat;
}

#debugInfo{
	display:			none;
	position:			absolute;
	top:				0;
	width: 				60%;
	height:				50px;

	margin:				0 20%;
	padding:			10px;

    color: 				white;
    font-size: 			1.1em;
    text-align: 		center;
	background:			rgba(0, 0, 0, 0.7);

    -webkit-border-bottom-left-radius: 	15px;
	-webkit-border-bottom-right-radius:	15px;
}

.error{
	color:			red;
}

#debugDetails{
	width:		100%;
	height:		50px;
}
