html {
	background-image: url('/images/gallery-background.png');
}

a, a:ACTIVE{
	color: 			#AAA;
}

a:VISITED{
	color:			#888;
}

a:HOVER{
	text-decoration: underline;
}

header h1{
	color: 				#AAA;
}

/**
 * Grid container
 */
#xdaGalleryContent {
	margin: 			2px;
	padding: 			0;
	list-style-type:	none;
}

/**
 * Grid items
 */
.item {
	position:				relative;
	float: 					left;
	width:					220px;
	margin:					5px;
	padding: 				5px;

	background-color: 		#444444;
}

.item img{
	width:					100%;
}

.item .postInfo{
	position:				absolute;
	display:				none;
	bottom:					0;
	left:					0;
	right:					0;
	height:					20px;

	background:				rgba(0, 0, 0, 0.7);
	text-align:				center;
}

.item-hover .postInfo{
	display:				block;
}

.item span{
	position: 				absolute;
	display: 				block;
	bottom: 				0;
	right: 					0;
	top: 					0;
	left: 					0;
	z-index: 				2;
	background-repeat: 		no-repeat;
	background-position: 	center center;
}

.item .image-loading{
	display:				none;
	background-color:		orange;
}

.item .image-broken{
	display:				none;
	background-color:		red;
}

/** Thread end indicator **/
#threadEndingIndicator{
	display: 		none;

	width:			100%;
	height:			20px;
	text-align: 	center;

	padding:		5px;
	margin:			10px;
	color:			white;
	border:			1px dashed blue;
}

/** Info & Loader **/
#info{
	position: 	absolute;
	width: 		300px;
	height: 	50px;
}

#loaderIndicator {
	position: 			relative;
	background-color: 	transparent;
	display: 			none;
	width: 				100px;
	height: 			100px;
	margin: 			0 auto;
	background-image: 	url('/images/loader.gif');
}

#tools{
	display: 		none;
	height: 		40px;
	margin: 		10px auto 10px auto;
}

#refresh{
	width: 			35px;
	height: 		35px;
	background: 	url('/images/refresh.jpg') no-repeat;
}

#debugInfo{
	display:			none;
	position:			absolute;
	top:				0;
	width: 				60%;
	height:				50px;

	margin:				0 20%;
	padding:			10px;

    color: 				white;
    font-size: 			1.1em;
    text-align: 		center;
	background:			rgba(0, 0, 0, 0.7);

    -webkit-border-bottom-left-radius: 	15px;
	-webkit-border-bottom-right-radius:	15px;
}

.error{
	color:			red;
}

#debugDetails{
	width:		100%;
	height:		50px;
}
